<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Include estructure examples</title>
</head>
<body>
	<h1>Include a file</h1>
	<!-- INCLUDE $var1 -->

	<br/><h1>Include a file with arguments</h1><br/>
	<!-- INCLUDE 'templates1/include_arg.html', 'File 1; value 1', $var2 -->
	<!-- INCLUDE 'templates1/include_arg.html', 'File 2; value 1', 'File 2; '.$var3." 2" -->
</body>
</html>