<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Modifiers examples</title>
</head>
<body>

<h1>4 variables with modifiers</h1>

<b>Original:</b> <i>$var1</i> - <b>Modifier:</b> <i>{$var1:f}</i><br/>
<b>Original:</b> <i>$var2</i> - <b>Modifier:</b> <i>$var2:U</i><br/>
<b>Original:</b> <i>$var3</i> - <b>Modifier:</b> <i>{$var3:l}</i><br/>
<b>Original:</b> <i>$var4</i> - <b>Modifier:</b> <i>{$var4:lf}</i><br/>
</body>
</html>